.explore{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}
.explore__title{
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    box-shadow: 2px 2px 10px #0f1111;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.explore__title p{
    font-size: 18px;
    line-height: 24px;
    color: #0f1111;
    font-weight: 900;
}
.explore__title i{
    color: #0f1111;
    font-size: 14px;
}
.product__cards__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.product__card{
    width: 260px;
    height: 400px;
    background-color: #fff;
    padding-top:10px;
    margin-bottom: 30px;
}
.product__card:hover{
    box-shadow: 10px 6px 19px -6px rgba(237,176,25,0.53);
    -webkit-box-shadow: 10px 6px 19px -6px rgba(237,176,25,0.53);
    -moz-box-shadow: 10px 6px 19px -6px rgba(237,176,25,0.53);
}
.product__card__link{
    text-decoration: none ;
    font-size: 16px;
    color: #0f1111;
}
.product__card img{
    width: 100%;
    height: 220px;
    object-fit: fill;
    margin-bottom: 10px;
}
.product__card__title{
    font-size: 16px;
    margin-left:10px;
    
}
.product__card__title:hover{
    color: #c45500;
    cursor: pointer;
}
.product__star{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FA9D1D;
    margin-left:10px;
}
.product__price{
    font-size: 28px;
    margin-left:10px;
}
@media only screen and (max-width:595px){
    .product__cards__wrapper{
        justify-content: center;
    }
    .product__card{
        margin-right: 10px;
        width: 100%;
    }
    .product__card img{
        width: 90%;
        object-fit: contain;
    }
}
@media only screen and (max-width:560px){
    .product__card{
        margin-right: 0;
    }
}
@media only screen and (max-width:381px){
    .product__card__link{
        font-size: 12px;
    }
    .product__card__title{
        font-size: 13px;
    }
    .explore__title p{
        font-size: 14px;
    }
    .explore__title i{
        font-size: 10px;
    }
}