.littleCarusel{
    width:1440px;
    margin-bottom:100px;
    margin:auto;
    padding: 10px 20px;
    background-color: #fff;
    margin-top: 50px;
    position: relative;
}
.title{
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 20px;

}
.carusel__wrapper{
    width: 100%;
    height: 100%;
    overflow:auto ;
    display: flex;
    margin-bottom:40px;
    position: relative;   
}
.carusel__wrapper::-webkit-scrollbar{
    display: none;
}
.imageO{
    width: 250px;
    margin-right: 35px;
    cursor: pointer;
}


.leftBtn, .rightBtn{
    width: 60px;
    height: 100px;
    background-color:#fff;
    border: none;
    font-size: 30px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    color: #6C6C6C;
    font-weight: 900;
}

.leftBtn{
    top: 50%;
    left:0;
    transform: translateY(-50%);
}
.rightBtn{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.leftBtn:focus,
.rightBtn:focus{
    border-radius: 3px 0 0 3px;
    padding-left: 5px;
    box-shadow: 0px 0px 5px #007185;
    color: #007185;
}
@media only screen and (max-width:1450px){
    .littleCarusel{
        width: 100%;
    }

}
@media only screen and (max-width:720px){
    .title{
        font-size: 18px;
    }
}
@media only screen and (max-width:430px){
    .title{
        font-size: 13px;
    }
}