.footer{
    width: 100%;
    background-color: #232F3E;
}
.container{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    cursor: default;
}
ul{
    list-style: none;
}
li{
    color: #DDDDD8;
    margin-bottom: 10px;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: #DDDDD8;
    cursor: pointer;
}
.link:hover{
    text-decoration: 1px underline ;
}

li:hover{
    text-decoration: solid;
}
.footer__bottom{
    width: 100%;
    height:100px;
    border-top:1px solid #fff;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.logo{
    height: 37px;
    display: block;
    margin-right: 90px;
}
.bottom__wrapper{
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 20px;

}
.change__language{
    width: 100px;
    height:100%;
    box-shadow: 10px 5px 10px rgb(15, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .selectt{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    padding-left: 40px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    border: none;
    outline: none;

  }
  
  .option{
    background: rgb(19, 18, 18);
    padding: 0;
  }
  .flag{
    width: 25px;
    z-index: 2;
    position: absolute;
    left: 5px;
    background-color: red;
  }
  .option:hover{
    background:#fff ;
  }
@media only screen and (max-width:1276px){
    .container{
        width: 90%;
    }
}
@media only screen and (max-width:979px){
    .title{
        font-size: 12px;
    }
    .link{
        font-size: 10px;
    }
}
@media only screen and (max-width:650px){
    .container{
        display: none;
    }
    .footer__bottom{
        margin-top: 0;
    }
}